/**************************
BACKGROUNDIMAGES FOR BlOCKS
**************************/
@import url(../fonts/transfonter/stylesheet.css);
.block {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  .block__background-first {
    background-image: url("../images/background1.jpg"); }
  .block__background-second {
    background-image: url("../images/background2.jpg"); }

/**************************
BACKGROUNDIMAGES FOR ICONS
**************************/
.businesscard {
  background-image: url("../images/features/businesscard.svg"); }

.dns {
  background-image: url("../images/features/dns.svg"); }

.certificate {
  background-image: url("../images/features/certificate.svg"); }

.autorenewal {
  background-image: url("../images/features/autorenewal.svg"); }

.cloud {
  background-image: url("../images/features/cloud.svg"); }

.freessl {
  background-image: url("../images/features/freessl.svg"); }

.dnssec {
  background-image: url("../images/features/dnssec.svg"); }

.redirect {
  background-image: url("../images/features/redirect.svg"); }

.header {
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2; }
  .header__logo {
    margin: 20px auto;
    width: 45%;
    stroke: white;
    fill: white;
    stroke-width: .5; }
    .header__logo__color {
      fill: #b22725;
      stroke: #b22725; }
  .header__text {
    margin: 20px auto;
    width: 45%;
    font-size: 14px;
    font-weight: 900;
    color: white; }
    .header__text__color {
      color: black; }

.h1 {
  margin: 0 auto;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 10;
  grid-column-end: 12;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 4;
  grid-row-end: 7;
  font-size: 48px;
  color: white;
  font-weight: bold;
  text-align: center; }

.h2 {
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 80px;
  font-weight: bold;
  text-align: center;
  color: white; }
  .h2__up {
    display: block;
    margin: 0 auto;
    -ms-grid-column: 3;
    grid-column-start: 3;
    -ms-grid-column-span: 8;
    grid-column-end: 11;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3; }
  .h2__down {
    display: block;
    margin: 5px auto;
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 10;
    grid-column-end: 12;
    -ms-grid-row: 3;
    grid-row-start: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 4; }

.h3 {
  margin: 0 auto;
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 8;
  grid-column-end: 11;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  text-align: center;
  font-size: 30px;
  font-weight: bold; }
  .h3__color-first {
    color: #333333; }
  .h3__color-second {
    color: white; }

.h4 {
  margin: 20px auto;
  -ms-grid-column: 6;
  grid-column-start: 6;
  -ms-grid-column-span: 2;
  grid-column-end: 8;
  font-size: 12px;
  font-weight: bold;
  color: white; }

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;
  height: 105px;
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 8;
  grid-column-end: 11;
  -ms-grid-row: 6;
  grid-row-start: 6;
  -ms-grid-row-span: 2;
  grid-row-end: 8;
  background: rgba(51, 57, 63, 0.8);
  border-radius: 5px;
  border: none; }
  .form__fieldset {
    width: 100%;
    height: 45px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid white; }
  .form__input {
    margin: 0 auto;
    width: 70%;
    height: 45px;
    border: none;
    font-size: 18px;
    font-weight: 500; }
    .form__input:focus {
      outline: none; }
  .form__button {
    margin: 0 auto;
    width: 28%;
    min-width: 113px;
    height: 45px;
    border-radius: 5px;
    border: none;
    font-size: 22px;
    color: white;
    background-color: #5f6062; }
    .form__button:focus {
      outline: none; }
    .form__button:hover {
      border: 1px solid #5f6062;
      color: #5f6062;
      background-color: white; }
  .form__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%; }
  .form__text {
    margin: 0 auto;
    width: 47%;
    font-size: 16px;
    text-align: right;
    color: #f4f7fb; }
  .form__link {
    margin: 0 auto;
    width: 47%;
    font-size: 16px;
    text-align: left;
    color: #77b53c; }

.button {
  margin: 25px auto 0;
  width: 70%;
  height: 47px;
  -ms-grid-column: 5;
  grid-column-start: 5;
  -ms-grid-column-span: 4;
  grid-column-end: 9;
  -ms-grid-row: 8;
  grid-row-start: 8;
  -ms-grid-row-span: 1;
  grid-row-end: 9;
  font-size: 22px;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: #77b53c; }
  .button:focus {
    outline: none; }
  .button:hover {
    border: 1px solid #77b53c;
    color: #77b53c;
    background-color: rgba(255, 255, 255, 0); }
  .button__position-second {
    -ms-grid-row: 9;
    grid-row-start: 9;
    -ms-grid-row-span: 1;
    grid-row-end: 10; }
  .button__position-third {
    margin: 0 auto 25px;
    -ms-grid-row: 7;
    grid-row-start: 7;
    -ms-grid-row-span: 1;
    grid-row-end: 8; }

.arrow-down {
  position: absolute;
  left: calc(50% - 13.5px);
  top: 90vh; }
  .arrow-down:focus {
    outline: none; }

.icon {
  margin: 0 auto;
  width: 64px;
  height: 64px;
  -ms-grid-row: 4;
  grid-row-start: 4;
  -ms-grid-row-span: 1;
  grid-row-end: 5;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  background-repeat: no-repeat;
  background-position: center; }
  .icon__column-second {
    -ms-grid-column: 5;
    grid-column-start: 5;
    -ms-grid-column-span: 1;
    grid-column-end: 6; }
  .icon__column-third {
    -ms-grid-column: 8;
    grid-column-start: 8;
    -ms-grid-column-span: 1;
    grid-column-end: 9; }
  .icon__column-fourth {
    -ms-grid-column: 11;
    grid-column-start: 11;
    -ms-grid-column-span: 1;
    grid-column-end: 12; }
  .icon__row {
    -ms-grid-row: 7;
    grid-row-start: 7;
    -ms-grid-row-span: 1;
    grid-row-end: 8; }

.caption {
  margin: 0 auto;
  width: 90%;
  -ms-grid-row: 5;
  grid-row-start: 5;
  -ms-grid-row-span: 1;
  grid-row-end: 6;
  font-size: 20px;
  font-weight: bold;
  color: #333333;
  text-align: center; }
  .caption__column1 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 3;
    grid-column-end: 4; }
  .caption__column2 {
    -ms-grid-column: 4;
    grid-column-start: 4;
    -ms-grid-column-span: 3;
    grid-column-end: 7; }
  .caption__column3 {
    -ms-grid-column: 7;
    grid-column-start: 7;
    -ms-grid-column-span: 3;
    grid-column-end: 10; }
  .caption__column4 {
    -ms-grid-column: 10;
    grid-column-start: 10;
    -ms-grid-column-span: 3;
    grid-column-end: 13; }
  .caption span {
    text-transform: uppercase; }
  .caption__row {
    -ms-grid-row: 8;
    grid-row-start: 8;
    -ms-grid-row-span: 1;
    grid-row-end: 9; }

#span {
  display: inline-block; }

.plus {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 12;
  grid-column-end: 13;
  -ms-grid-row: 8;
  grid-row-start: 8;
  -ms-grid-row-span: 2;
  grid-row-end: 10;
  width: 100%;
  height: 80%;
  border-radius: 5px;
  color: white;
  background-color: #df4a5e; }
  .plus__text {
    margin: 0 auto;
    padding-left: 10px;
    width: 70%;
    font-size: 20px;
    text-align: left; }
  .plus__link {
    color: white;
    text-decoration: none;
    border-bottom: 1px solid white; }
  .plus__line {
    margin: auto auto;
    width: 2.5px;
    height: 70%;
    background-color: #e56e7e; }
  .plus__thousand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto;
    width: 17%;
    font-size: 50px;
    font-weight: bold;
    text-align: center; }
  .plus__image {
    width: 30px;
    height: 30px;
    fill: white;
    stroke: white; }

.footer {
  padding-top: 30px;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 12;
  grid-column-end: 13;
  -ms-grid-row: 10;
  grid-row-start: 10;
  -ms-grid-row-span: 1;
  grid-row-end: 11;
  font-size: 11.5px;
  color: rgba(255, 255, 255, 0.502); }
  .footer a {
    color: rgba(255, 255, 255, 0.502);
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.502); }

body {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans';
  line-height: 1.2; }

.wrapper {
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  width: 90%;
  height: 100%;
  min-width: 819px;
  max-width: 1092px;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: (10%)[10];
  grid-template-rows: repeat(10, 10%);
  grid-column-gap: 1.0989011%; }
