.button {
	margin: 25px auto 0;
	width: 70%;
	height: 47px;
	grid-column-start: 5;
	grid-column-end: 9;
	grid-row-start: 8;
	grid-row-end: 9;
	font-size: 22px;
	font-weight: bold;
	border-radius: 5px;
	border: none;
	color: $white;
	background-color: $green;

	&:focus{
		outline: none;
	}

	&:hover {
		border: 1px solid $green;
		color: $green;
		background-color: $white-0;
	}

	&__position-second {
		grid-row-start: 9;
		grid-row-end: 10;
	}

	&__position-third {
		margin: 0 auto 25px;
		grid-row-start: 7;
		grid-row-end: 8;
	}
}