.footer {
	padding-top: 30px;
	grid-column-start: 1;
	grid-column-end: 13;
	grid-row-start: 10;
	grid-row-end: 11;
  font-size: 11.5px;
  color: $white-50;

  @media screen and (min-width: $width-600) and (max-width: $width-858) {
    grid-column-start: 1;
    grid-column-end: 8;
  }

  @media screen and (min-width: $width-421) and (max-width: $width-599) {
    grid-column-start: 1;
    grid-column-end: 6;
    font-size: 9px;
  }

  @media screen and (min-width: $width-320) and (max-width: $width-420) {
    padding-top: 15px;
    grid-column-start: 1;
    grid-column-end: 4;
    font-size: 8px;
  }

  & a {
  	color: $white-50;
  	text-decoration: none;
  	border-bottom: 1px solid $white-50;
  }
}

