.form {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	width: 100%;
	height: 105px;
	grid-column-start: 3;
	grid-column-end: 11;
	grid-row-start: 6;
	grid-row-end: 8;
	background: $grey-light-80;
	border-radius: 5px;
	border: none;

  @media screen and (min-width: $width-600) and (max-width: $width-858) {
    grid-column-start: 2;
    grid-column-end: 7;
  }

  @media screen and (min-width: $width-421) and (max-width: $width-599) {
    grid-column-start: 1;
    grid-column-end: 6;
  }

  @media screen and (min-width: $width-320) and (max-width: $width-420) {
    height: 90px;
    grid-column-start: 1;
    grid-column-end: 4;
  }

/******************************
 CONTAINER FOR INPUT AND BUTTON
******************************/ 
	&__fieldset {
		display: flex;
		align-items: center;
		margin: 0;
		padding: 0;
		width: 100%;
		height: 70px;
		background-color: $white;
		border-radius: 5px;
		border: 1px solid $white;

    @media screen and (min-width: $width-320) and (max-width: $width-420){
      height: 55px;
    }
	}
/********
 INPUT
*******/ 
	&__input {
		margin: 0 auto;
		width: 70%;
		height: 45px;
		border: none;
		font-size: 18px;
		font-weight: 500;

    @media screen and (min-width: $width-600) and (max-width: $width-858) {
      width: 60%;
    }

    @media screen and (min-width: $width-421) and (max-width: $width-599) {
      width: 55%;
      font-size: 18px;
    }

    @media screen and (min-width: $width-320) and (max-width: $width-420) {
      width: 55%;
      font-size: 18px;
    }

		&:focus {
			outline: none;
		}
	}
/*********
 BUTTON
*********/  
	&__button {
		margin: 0 auto;
		width: 28%;
		min-width: 110px;
		height: 45px;
		border-radius: 5px;
		border: none;
		font-size: 22px;
		color: $white;
		background-color: $grey;

    @media screen and (min-width: $width-600) and (max-width: $width-858) {
      width: 35%;
    }

    @media screen and (min-width: $width-421) and (max-width: $width-599) {
    	font-size: 18px;
    }

    @media screen and (min-width: $width-320) and (max-width: $width-420) {
      width: 30%;
      font-size: 16px;
    }

		&:focus {
			outline: none;
		}

		&:hover {
			border: 1px solid $grey;
			color: $grey;
			background-color: $white;
		}
	}
/******************************
 CONTAINER FOR INVISIBLE TEXT
******************************/  

	&__container {
		display: flex;
		width: 100%;
	}

	&__text {
		margin: 0 auto;
		width: 47%;
		font-size: 16px;
		text-align: right;
		color: $white-dark;

    @media screen and (min-width: $width-600) and (max-width: $width-858) {
      font-size: 14px;
    }

    @media screen and (min-width: $width-421) and (max-width: $width-599) {
      font-size: 13px;
    }

    @media screen and (min-width: $width-320) and (max-width: $width-420) {
      font-size: 12px;
    }
	}

	&__link {
		margin: 0 auto;
		width: 47%;
		font-size: 16px;
		text-align: left;
		color: $green;

    @media screen and (min-width: $width-320) and (max-width: $width-420) {
      font-size: 12px
    }
	}
}