.h1 {
	margin: 0 auto;
	grid-column-start: 2;
	grid-column-end: 12;
	grid-row-start: 3;
	grid-row-end: 7;
	font-size: 48px;
	color: $white;
	font-weight: bold;
	text-align: center;
}

.h2 {
	font-family: 'PT Sans Caption', sans-serif;
	font-size: 80px;
	font-weight: bold;
	text-align: center;
	color: $white;

	&__up {
		display: block;
		margin: 0 auto;
		grid-column-start: 3;
		grid-column-end: 11;
		grid-row-start: 2;
		grid-row-end: 3;
	}

	&__down {
		display: block;
		margin: 5px auto;
		grid-column-start: 2;
		grid-column-end: 12;
		grid-row-start: 3;
		grid-row-end: 4;
	}
}

.h3 {
	margin: 0 auto;
	grid-column-start: 3;
	grid-column-end: 11;
	grid-row-start: 2;
	grid-row-end: 3;
	text-align: center;
	font-size: 30px;
	font-weight: bold;

	&__color-first {
		color: $black-light;
	}

	&__color-second {
		color: $white;
	}
}

.h4 {
	margin: 20px auto;
	grid-column-start: 6;
	grid-column-end: 8;
	font-size: 12px;
	font-weight: bold;
	color: $white;
}



