@import "vars";
@import "background";
@import "header";
@import "titles";
@import "form";
@import "button";
@import "arrow-down";
@import "icons";
@import "plus";
@import "footer";



body {
	margin: 0;
	padding: 0;
	font-family: 'PT Sans';
	line-height: 1.2;
}

.wrapper {
	margin: 0 auto;
	display: grid;
	width: 90%;
	height: 100%;
	min-width: 819px;
	max-width: 1092px;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(10, 10%);
	grid-column-gap: 1.0989011%;
}



